@import "fonts";
@import '_icons';
@import '_reset';
@import '_variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    .form__block{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -125px 0 0 -125px;
    }
    .form__title{
        text-align: center;
        color: $maincolor;
        font-size: 35px;
    }
    .input-reg{
    	text-align: center;
    }
    .check-label{
    	display: block;
    	margin-bottom: 24px;
        #email{
            margin-left: 32px;
        }
        .form__input{
            width: 244px;
            height: 30px;
            padding-left: 10px;
            margin-top: 30px;
        }
    }
    .form__btn{
    	width: 99px;
        height: 34px;
        margin-left: 37%;
        margin-top: 30px;
        background: $bgcolor;
        border: 2px solid $maincolor;
        border-radius: 2px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: $pointer;
        color: $maincolor;
        &:hover{
            border: 2px solid #000; 
            color: #000;
        }
    }
    #paremail, #parpassword{
        display: none;
        font-size: 15px;
        color: red;
    }
}

/*Page User Admin*/
.wrapper{
    padding: 46px;
    .title__page{
        font-size: 54px;
        font-weight: bold;
    }
.logOut{
    float: right;
    margin-top: -59px;
    width: 90px;
    height: 31px;
    background: $bgcolor;
    cursor: $pointer;
    border: 2px solid #1e90ff;
}
.button__add{
    width: 100px;
    height: 47px;
    background: $maincolor;
    cursor: $pointer;
    border-radius: 2px;
    border: 2px solid #000;
    color: $bgcolor;
        &:hover{
        background: $bgcolor;
        color: $maincolor;
    }
}
.modal{
    color: $maincolor;
    width: 600px;
    position: absolute;
    left: 166px;
    top: 157px;
    padding: 58px;
    border: 2px solid $maincolor;
    height: 302px;
    background: $bgcolor;
    display: none;
    .input__title{
        margin-left: 21px;
    }
    .modal__title{
        width: 402px;
        height: 20px;
        padding-left: 10px;
        border: 1px solid $maincolor;
        &:hover{
            border: $border; 
        }
    }
    .modal__content{
        width: 402px;
        height: 123px;
        padding-left: 16px;
        padding-right: 16px;
        border: 1px solid $maincolor;
        margin-top: 10px;
        &:hover{
            border: $border; 
        }
    }
    #inputsnews{
        display: none;
    }
    .modal__add{
        position: relative;
        left: 358px;
        margin-top: 10px;
        height: 36px;
        width: 100px;
        background: $bgcolor;
        border: 1px solid $maincolor;
        text-transform: uppercase;
        font-weight: bold;
        color: $maincolor;
        outline: none;
        cursor: $pointer;
        &:hover{
            border: $border; 
            color: #000;
        }
    }
}
    .item__input{
        width: 80%;
        height: 49px;
        padding-left: 15px;
        margin-top: 30px;
        background: $bgcolor;
        border: 2px solid $maincolor;
    }
    .editButton{
        width: 79px;
        height: 31px;
        background: $bgcolor;
        text-transform: uppercase;
        color: #00ff00;
        border: none;
        cursor: $pointer;
    }
    .removeButton{
        width: 79px;
        height: 31px;
        background: $bgcolor;
        text-transform: uppercase;
        color: #ff0000;
        border: none;
        cursor: $pointer;
    }
}